:root {
    --sidenav-size: 270px;
    --grey: #f1f0f6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --primary: #EF1F3B;
    --accent: #FA9D25;
    --blue: #00558C;
    --light-blue: #D0E4FF;
}

