
#footer-container {
    height: 350px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

#footer-container .footer{
    width: 100%;
    height: 100%;
    background: var(--accent);
    border-top-right-radius: 95%;
    padding: 10px 4px 0 0;
    position: relative;
}

#footer-container .footer .footer-second-layer {
    background: var(--primary);
    width: 100%;
    height: 100%;
    border-top-right-radius: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#footer-container .footer .footer-second-layer .mid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-second-layer .mid-content .socials {
    width: 150px;
    padding: 10px;
}

.footer-second-layer .mid-content .socials .socials-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.footer-second-layer .mid-content .socials .socials-list li {
    list-style-type: none;
}

.footer-second-layer .mid-content .socials .socials-list li a {
    color: var(--light);
}

.footer-second-layer .mid-content .socials-list li a .icon {
    font-size: 30px;
    transition: all 0.5s ease;
}

.footer-second-layer .mid-content .socials-list li a .icon:hover{
    transform: translateY(-8px);
}

.footer-second-layer .mid-content .bsu-logo img {
    width: 150px;
}

#footer-container .footer .logo img {
    width: 150px;
    height: 150px;
    background: var(--light);
    position: absolute;
    border-radius: 50%;
    object-fit: contain;
    right: 0;
    top: 20;
}
#footer-container .bottom {
    height: 30px;
    width: 100%;
    background: #555;
    border-right: 4px solid var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-container .bottom p {
    color: var(--grey);
    font-size: 12px;
    font-weight: 350;
    letter-spacing: 0.5px;
}
