:root {
    --sidenav-size: 270px;
    --grey: #f1f0f6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --primary: #EF1F3B;
    --accent: #FA9D25;
    --blue: #22ADF1;
    --light-blue: #D0E4FF;
    --green: #06FF00;
    --text-color: #555;
}

main section .sub-container {
    height: 1000px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 30px;
}
main section .sub-container .form-container {
    width: 100%;
    padding: 20px 0;
}
main .sub-container .title h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--dark);
}

main .form-container .form-control {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
    grid-gap: 5px;
}

main .form-container .form-control #pb-title {
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
}

main .form-container .form-control #pb-title:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}

main .form-container .form-control label {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
}

main .form-container .form-control select {
    width: 350px;
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
}

main .form-container .form-control select option {
    margin-bottom: 20px;
}

main .form-container .form-control select:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}

.select-type option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}