:root {
    --sidenav-size: 270px;
    --grey: #f1f0f6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --primary: #EF1F3B;
    --accent: #FA9D25;
    --blue: #22ADF1;
    --light-blue: #D0E4FF;
    --green: #06FF00;
    --text-color: #555;
}

main section .container {
    min-height: 1000px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 30px;
}

main section .sub-container .form-col {
    margin-top: 10px;
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
}

/* DOCUMENT DETAILS */

main section .sub-container .form-container {
    flex-grow: 1;
    flex-basis: 500px;
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin-top: 10px;
}
main .sub-container .title h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--dark);
}

main .form-container .form-control {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
}

main .form-container .form-control #pb-title {
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
}

main .form-container .form-control #pb-title:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}

main .form-container .form-control label {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
}

main .form-container .form-control input[type="text"],
main .form-container .form-control input[type="date"],
main .form-container .form-control input[type="url"] {
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
}

main .form-container .form-control input[type="text"]:focus,
main .form-container .form-control input[type="date"]:focus,
main .form-container .form-control input[type="url"]:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}

main .form-control select {
    width: 100%;
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
    background-image: url('../../../assets//icons/chevron-down-regular-24.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

main .form-control select option:hover {
    background-color: var(--grey);
}

main .form-container .form-control select:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}

main .form-container .form-control .quartile-row {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}

main .form-container .form-control .quartile-row .quarter {
    flex-basis: 380px;
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    flex: 1;
}

main .form-container .form-control .quartile-row .quarter-year {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
}

main .form-container .form-control .checkbox-container {
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-gap: 15px;
    padding: 20px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
}

main .form-container .form-control .checkbox-container .checkbox-col {
    position: relative;
}

main .form-control .checkbox-container input[type="checkbox"] {
    display: none;
    position: absolute;
}

main .form-control .checkbox-container label.sdg-checkbox {
    border-radius: 5px;
    background: var(--light);
    cursor: pointer;
    color: var(--dark);
    font-size: 11px;
    text-align: center;
    padding: 14px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

main .form-control .checkbox-container label.sdg-checkbox:hover {
    background: var(--light);
}

main .form-control .checkbox-container input[type=checkbox]:checked + label.sdg-checkbox {
    background: var(--green);
    color: white;
}

main .form-control .checkbox-container input[type=checkbox]:checked+label.sdg-checkbox:hover {
    opacity: 60%;
}

.error {
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* AUTHOR DETAILS */

main .form-col tr {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .form-col table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

main .form-col table .form-control {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
}

main .form-col table .form-control label {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
}

main table .form-control input[type="text"] {
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
}

main table .form-control input[type="text"]:focus,
main table .form-control select:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}

main .form-col tr button {
    height: 45px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #22ADF1;
    color: var(--light);
    cursor: pointer;
    text-transform: uppercase;
}