:root {
    --sidenav-size: 270px;
    --grey: #f1f0f6;
    --dark-grey: #AEBDCA;
    --light: #fff;
    --dark: #000;
    --primary: #EF1F3B;
    --accent: #FA9D25;
    --blue: #22ADF1;
    --light-blue: #D0E4FF;
}

main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .header .left .addBtn {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    background: green;
    color: var(--light);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main .header .addBtn .icon {
    font-size: 20px;
    transition: all 0.5s ease;
}

main .header .addBtn:hover {
    opacity: 50%;
}

main .header .left {
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;
}

main .header .left form {
    max-width: 400px;
    width: 100%;
}

main .header .left .form-group {
    position: relative;
}

main .header .left .form-group input {
    width: 100%;
    height: 100%;
    background: var(--light);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

main .left .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey);
}

main .header .form-group input:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}

main .table-container {
    margin-top: 20px;
    height: 600px;
    overflow: auto;
    background: var(--light);
    border-radius: 5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
}

main .table-container table {
    width: 100%;
    table-layout: auto;
    min-width: 1000px;
    border-collapse: collapse;
}

main .table-container table, th, td {
    border-collapse: collapse;
    border-bottom: 2.5px solid var(--grey);
}

main table thead tr {
    background: var(--light);
}

main table thead th {
    top: 0;
    min-width: 150px;
    width: 19rem;
    font-size: 14px;
    padding: 20px;
    text-align: center;    
}

main table tbody td {
    font-size: 11px;
    top: 0;
    width: 19rem;
    font-size: 12px;
    padding: 10px 10px;
    text-align: center;
    height: 4rem;
}

main section .table-footer {
    height: 80px;
    width: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0 17px 20px;
    border-top: 1px solid var(--grey);
}

main section .table-footer p {
    font-size: 14px;
    font-weight: 500;
}

main table .stickey-col {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;    
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.075);
    background-color: #fff;
}
main table .stickey-col-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0   ;
    width: 100%;    
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

main table .a-action-btns {
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
    justify-content: center;
    align-items: center;
}

main table .edit-btn, .delete-btn {
    border: none;
    color: #ffffff;
    width: 100%;
    height: 30px;
    font-size: 10px;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-align: center;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 80%;
}

.edit-btn {
    background-color: #22ADF1;
}

.delete-btn{
    background-color: var(--primary);
}

.table-footer .pagination {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    grid-gap: 5px;
}

.table-footer .pagination li a {
    border: 2px solid var(--dark);
    padding: 10px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 2px solid var(--grey);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    color: var(--dark);
    flex-wrap: wrap;
}

.table-footer .pagination li a:hover {
    background: var(--grey);
}

.table-footer .pagination li .current-page {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--dark);
    padding: 8px 30px;
    border: 2px solid var(--grey);
    border-radius: 2px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    cursor: text;
}

.table-footer .pagination li a .icon {
    font-size: 20px;
}