body {
    background: var(--light);
    position: relative;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }


.table-header-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 1220px;
    align-items: center;
}

.table-header{
    width: 495px;
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
    color: #cf102d;
}

.table-search{
    padding: 10px;
    display: flex;
    align-items: center;
}

#search-table {
    width: 500px;
    margin: 10px;
    border-radius: 50px;
    padding: 5px 33px 5px 5px;
    font-size: 15px;
    border: 2px solid gainsboro;
}

.search-button {
    display: flex;
    align-items: center;
}

#btn-search {
    width: 20px;
    height: 20px;
    border:none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    margin-left: 485px;
    margin-top: -75px;
  }
  
#btn-search img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.sort-button {
    display: flex;
    align-items: center;
}


#btn-sort {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
   
    
}

#btn-sort i {
    font-size: 15px;
    color: gray;
}
.filter-button {
    display: flex;
    align-items: center;
}

#btn-filter {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
   
    
}

#btn-filter i {
    font-size: 12px;
    color: gray;
}

span {
    margin-right: 10px;
    font-size: 12px;
}

#table-data {
    overflow-y: auto;
    max-height: 620px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.css-td {
    width: 300px;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: gray;
    padding-left: 10px;
    padding-right: 10px;
  }
  

#css-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 0;
    border: solid 1px gray;
    top: 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    
}

#spacer-row {
    height: 20px;
}

.css-tr {
    background-color: white;
    transition: all 0.3s ease;
}
.css-tr:hover {
    background-color: hsl(350, 250%, 30%);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


.css-header {
    background-color: white; /* Add a background color to make it visible */
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #cf102d;
    padding: 20px;
    color: #cf102d;
  }
  


#css-table #css-header-container {
    position: sticky;
    top: 0;
  }

.article-container{
    width: 1000px;
    height: auto; 
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 5%;
    /* margin-bottom: 5%; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2%;
    border-radius: 10px;
   
    
}
.article-title{
    font-weight: 580;
    margin-bottom: 2%;
}
.article-date-published{
    font-size: .8rem;
    font-weight: 480;
    margin-bottom: 2%;
}
.article-container label{
    font-weight: 500;
}
.article-authors{
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 2%;

}
.download-cert-btn{
    background-color: #cf102d;
    color: white;
    border: none;
    width: 250px;
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
.download-cert-btn:hover{
    background-color: #ef3450;
}
.abstract-cont{
    font-size: .9rem;
    text-align: justify;
}

.filter-button {
    position: relative;
}

.filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: -180;
    width: 250px;
    background-color: #fefefe;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    z-index: 4;
    padding: 15px;
}

.filter-options input[type='submit'] {
    display: block;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.filter-options label {
    display: block;
    margin-bottom: 10px;
}

.campus-bsu {
    margin-left: 20px;
}


.sort-button {
    position: relative;
}

.sort-options {
    display: none;
    position: absolute;
    top: 100%;
    left: -70;
    width: 150px;
    background-color: #fefefe;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    z-index: 4;
    padding: 15px;
    height: 120px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sort-options li {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #cf102d;
    text-decoration: none;
}