body {
    background: var(--grey);
    position: relative;
    overflow-x: hidden;
}

#main-content {
    position: relative;
    padding: 0;
    padding: 20px 10px;
    background: var(--grey);
}

#main-content .table-container {
    width: 80%;
    margin: auto;
    background: var(--light);
    border-radius: 5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#main-content .page-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#main-content .page-title h3 {
    letter-spacing: 1px;
    font-size: 30px;
    color: var(--text-color);
    position: relative;
    text-transform: uppercase;
}

#main-content .page-title h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    width: 60%;
    height: 3px;
    bottom: -4px;
    border-radius: 5px;
}


.article-container{
    width: 1000px;
    height: auto; 
    background-color: #ffffff;
    margin: 0 auto;
    /* margin-bottom: 5%; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2%;
    border-radius: 10px;  
}
.article-title{
    font-weight: 580;
    margin-bottom: 2%;
    text-align: center;
}
.article-date-published{
    font-size: .8rem;
    font-weight: 480;
    margin-bottom: 2%;
}
.article-container label{
    font-weight: 500;
    
}
.article-authors{
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 2%;
    text-align: center;
}
.download-cert-btn{
    background-color: #cf102d;
    color: white;
    border: none;
    width: 250px;
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.download-cert-btn:hover{
    background-color: #ef3450;
}
.abstract-cont{
    font-size: .9rem;
    text-align: justify;
}
