body {
    background: var(--light);
    position: relative;
    overflow-x: hidden;
}
#hero-img {
    width: 100%;
    height: 550px;
    background-image: radial-gradient(rgba(0, 0, 0, .315),
     rgba(0, 0, 0, .4)), url('../../../assets//images/background_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
    border: 3px solid #555;
}

#hero-img .rms-title h1 {
    color: var(--light);
    letter-spacing: 1px;
    font-size: 60px;
    width: 800px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

#hero-img input[type="text"] {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

#hero-img input[type="text"]:focus {
    box-shadow: 0 0 0 4px var(--dark-grey);
}

#hero-img form .form-group {
    position: relative;
}

#hero-img form .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--bg-grey);
    font-size: 20px;
    font-weight: 500;
}

/* PUBLICATIONS */

.home-content {
    background: var(--light);
}

.home-content .main-container {
    height: 100%;
    padding: 30px;
    background: var(--grey);
    width: 85%;
    margin: auto;
}

.home-content .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-content .content .title h3 {
    letter-spacing: 1px;
    font-size: 30px;
    color: var(--text-color);
    position: relative;
}

.home-content .content .title h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    width: 60%;
    height: 3px;
    bottom: -4px;
    border-radius: 5px;
}

.home-content .content .card-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.home-content .content .card-container .card {
    width: 380px;
    height: 500px;
    border-radius: 3px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}


/* 
#main .main-content-wrapper .title h3 {
    font-size: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    position: relative;
}

#main .main-content-wrapper .title h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    width: 50%;
    height: 2px;
    bottom: -4px;
} */