:root {
    --sidenav-size: 270px;
    --grey: #f1f0f6;
    --dark-grey: #AEBDCA;
    --light: #fff;
    --dark: #000;
    --primary: #cf102d;
    --accent: #FA9D25;
    --blue: #22ADF1;
    --light-blue: #D0E4FF;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background: var(--grey);
}

.navbar-container {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 20px;
    height: 150px;
    padding: 10px 0;
    background: var(--primary);
    position: relative;
}

.navbar-container .left {
    border: 1px solid var(--primary);
    width: 50%;
    background: var(--light);
    opacity: 90%;
    z-index: 1;
}

.navbar-container .left:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 150px solid #cf102d;
    border-right: 150px solid transparent;
}